@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Montserrat:wght@500;600&family=Noto+Sans:ital@0;1&display=swap');


body {
padding: 0;
margin: auto;
font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

header {
   text-align: center; 
   background-image: url(../images/bluesky.webp);
   background-size: cover;  
   margin-bottom: -20px; 
}

header img {
    width: 30%;
    max-width: 500px;
    height: auto;
    padding-top: 70px;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
}

nav span {
    padding: 30px;
}

.section-heading {
    text-align: center;
    background-color: skyblue;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    
}

.mission-quote {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: beige;
    width: 80%;
    margin: auto;
    padding: 30px;
    border-radius: 10px; 
    grid-row-gap: 20px;   
}

.mission-quote img {
    max-width: 100%;
    overflow: hidden;
}

.mission-quote p,
cite {
    font-family: 'Noto Sans', sans-serif;
}

.dougq {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: right;
    padding-right: 40px;
}

.denq {
    grid-area: 2 / 2 / span 1 / span 2;
    text-align: left;
    padding-left: 40px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    background-color: beige;
    border-radius: 10px;
    padding-bottom: 20px;
}


.product img {
    max-width: 350px;
    height: auto;
    display: block;
    padding: 20px;
}

#teams {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 1200px;
margin: auto;
text-align: center;
background-color: beige;
border-radius: 10px;
padding-bottom: 20px;
}


.team img {
    max-width: 350px;
    height: auto;
    display: block;
    padding: 20px;
}


#contact-grid {
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#contact img {
    max-width: 500px;
    width: 100%;
    vertical-align: auto;
}

.address {
    margin: auto;
    font-size: 20px;
}


footer {
    background-color: navy;
    color: white;
    text-align: right;
    padding: 50px;
}